# Backup files
*.bak

# Compiled ACS files
*.o

# Compiled PK3, PK7 and ZIP files
*.pk3
*.pk7
*.zip

# GZDoom Builder files
*.dbs
*.backup
*.backup1
*.backup2
*.backup3

# 7-Zip Tempory files
*.tmp
